<div>
  <table class="files js-navigation-container js-active-navigation-container" data-pjax>
    <tbody>
      <tr class="js-navigation-item">
        <td class="icon">
          <span class="octicon octicon-file-directory"></span>
          <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="16">
        </td>
        <td class="content">
          <span class="css-truncate css-truncate-target"><a href="/peter-murach/github/tree/master/features" class="js-directory-link js-navigation-open" id="9f034b63948763d489f944319c2eb3de-ae46b9cda834d30124d353b2ceddf1efd81de5f4" title="features">features</a></span>
        </td>
        <td class="message">
          <span class="css-truncate css-truncate-target">
            <a href="/peter-murach/github/commit/5da8ba021f42108cc441e98998826ec228d65436" class="message" data-pjax="true" title="Change emojis api to use new parser. Update docs.">Change emojis api to use new parser. Update docs.</a>
          </span>
        </td>
        <td class="age">
          <span class="css-truncate css-truncate-target"><time datetime="2014-07-27T17:08:56Z" is="time-ago" title="Jul 28, 2014, 2:08 AM GMT+9">a year ago</time></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
