<script type="text/x-handlebars-template" id="mainTemplate">
  <div class="boxed-group hooks-listing">
    <span class="btn btn-sm btn-primary boxed-group-action" id="jsBugspotsSaveButton">
      <span class="octicon octicon-pencil"></span>
      <span>Save</span>
    </span>
    <h3>
      <span class="octicon octicon-tools"></span>
      Configurations
    </h3>
    <div class="boxed-group-inner">
      <dl class="form">
        <dt class="input-label">
          <label for="bug_detection_regex">Bug Detection Regex
            <span class="note">(the regular expression for counting the bug-related commits)</span></label>
          {{#if error }}
            {{#if_eq errorType 'NoCommits'}}
              <p><span class="note" style="color: #df3e3e">No commit messages are matched with this regular expression</span></p>
            {{/if_eq}}
          {{/if}}
        </dt>
        <dd>
          <input autocomplete="off" class="long" id="bugspotsRegexField" name="bug_detection_regex" type="text" value="{{bugDetectionRegex}}" placeholder="[f|F]ix(es|ed)?|[C|c]lose(s|d)?]">
        </dd>
      </dl>
      <hr class="bleed-flush">
      <dl class="form">
        <dt class="input-label">
          <label for="bugspots_access_token">
            Access Token
            <span class="note">(Follow<a href="https://github.com/settings/tokens/new" target="_blank"> this link </a>to create one and paste it below)
            </span>
            {{#if error }}
              {{#if_eq errorType '404'}}
                <p><span class="note" style="color: #df3e3e">Error: Please Input Access Token below</span></p>
              {{/if_eq}}
            {{/if}}
          </label>
        </dt>
        <dd>
          <input autocomplete="off" class="long" id="bugspotsTokenField" name="bugspots_access_token" type="text" value="{{accessToken}}">
          <p class="note">
            The access token is needed <b>to access private repository</b> or <b>to exceed the rate limit of unauthenticated requests</b>.
            For more information, please refer to<a href="https://developer.github.com/v3/#rate-limiting"> this documentation</a>.
          </p>
        </dd>
      </dl>
      <hr class="bleed-flush">
      <dl class="form">
        <p> For more details, questions, or requests, please visit<a href="https://github.com/travelist/github-bugspots"> this site </a>
        and feel free to make github issues.</p>
      </dl>
    </div>
  </div>
  {{#unless error }}
  <div style="text-align:center;" id="jsRankingResult">
    <img alt="" class="mini-loader" height="128" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-128.gif">
  </div>
  {{/unless}}
</script>
